Repository Antek8/microservices-demo, changes with the owners that CODEOWNERS names for each.
All owners: @newrelic-forks/oie, @jack-berg, @TylerHelmuth, @alanwest, @nrcventura, @svetlanabrennan

loadg replicas 3
  kubernetes-manifests/loadgenerator.yaml
Owners: @newrelic-forks/oie

frontend and loadgenerator made more resilient
  kubernetes-manifests/cartservice.yaml
  kubernetes-manifests/frontend.yaml
Owners: @newrelic-forks/oie

changed manifests cart, frontend
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

cart changed
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

cart changed
  kubernetes-manifests/cartservice.yaml
Owners: @newrelic-forks/oie

cart changed
  kubernetes-manifests/cartservice.yaml
Owners: @newrelic-forks/oie

cart changed
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

cart changed
  kubernetes-manifests/cartservice.yaml
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

front changed
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

more recilient
  kubernetes-manifests/checkoutservice.yaml
  kubernetes-manifests/currencyservice.yaml
  kubernetes-manifests/paymentservice.yaml
  kubernetes-manifests/productcatalogservice.yaml
  kubernetes-manifests/recommendationservice.yaml
  kubernetes-manifests/shippingservice.yaml
Owners: @newrelic-forks/oie

more recilient
  kubernetes-manifests/emailservice.yaml
  kubernetes-manifests/loadgenerator.yaml
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

Added fallbacks to getCart
  src/frontend/handlers.go
Owners: @newrelic-forks/oie, @TylerHelmuth

frontend 3 rep
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

Implement retry and fallback for RedisCartStore
  src/cartservice/src/cartservice.csproj
Owners: @newrelic-forks/oie, @alanwest, @nrcventura

Implement retry and fallback for RedisCartStore with in-memory fallback
  src/cartservice/src/cartstore/RedisCartStore.cs
  src/frontend/handlers.go
Owners: @newrelic-forks/oie, @alanwest, @nrcventura, @TylerHelmuth

Implement retry and fallback for RedisCartStore
  src/cartservice/src/cartstore/RedisCartStore.cs
Owners: @newrelic-forks/oie, @alanwest, @nrcventura

Implement retry and fallback for RedisCartStore
  src/cartservice/src/cartstore/RedisCartStore.cs
Owners: @newrelic-forks/oie, @alanwest, @nrcventura

redis cart
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

changed scaling parameters
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

changed scaling parameters
  kubernetes-manifests/frontend.yaml
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

changed scaling parameters
  kubernetes-manifests/frontend.yaml
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

redis-cart resilience
  kubernetes-manifests/cartservice.yaml
Owners: @newrelic-forks/oie

changed scaling parameters
  release/kubernetes-manifests.yaml
Owners: @newrelic-forks/oie

litmus file
  test-litmus-chaos-enable.yml
  test-litmus-chaos-enable.yml:Zone.Identifier
Owners: @newrelic-forks/oie

litmus file
  test-litmus-chaos-enable.yml
Owners: @newrelic-forks/oie

litmus
  test-litmus-chaos-enable (3).yml:Zone.Identifier
  test-litmus-chaos-enable.yml
Owners: @newrelic-forks/oie

del lit
  test-litmus-chaos-enable (3).yml:Zone.Identifier
  test-litmus-chaos-enable.yml
Owners: @newrelic-forks/oie

CODEOWNERS:

# See https://help.github.com/en/articles/about-code-owners
# for more info about CODEOWNERS file.
* @newrelic-forks/oie
src/adservice/                                      @newrelic-forks/oie @jack-berg
src/frontend/                                       @newrelic-forks/oie @TylerHelmuth
src/cartservice/                                    @newrelic-forks/oie @alanwest @nrcventura
src/productcatalogservice/                          @newrelic-forks/oie @TylerHelmuth
src/shippingservice/                                @newrelic-forks/oie @TylerHelmuth
src/checkoutservice/                                @newrelic-forks/oie @TylerHelmuth
src/currencyservice/                                @newrelic-forks/oie @svetlanabrennan
src/paymentservice/                                 @newrelic-forks/oie @svetlanabrennan
src/emailservice/                                   @newrelic-forks/oie @TylerHelmuth
src/recommendationservice/                          @newrelic-forks/oie @TylerHelmuth
src/loadgenerator/                                  @newrelic-forks/oie @TylerHelmuth @jack-berg
src/otel-collector/                                 @newrelic-forks/oie @TylerHelmuth
src/otel-collector-agent/                           @newrelic-forks/oie @TylerHelmuth
src/otel-collector-agent-redis/                     @newrelic-forks/oie @TylerHelmuth
otel-kubernetes-manifests/otel-collector-agent.yaml @newrelic-forks/oie @TylerHelmuth
otel-kubernetes-manifests/otel-collector.yaml       @newrelic-forks/oie @TylerHelmuth
